*.pyc
*.swp
.idea
.env
collectstatic/*
media/*
logs/*
gvenv/
venv/*
secrets/*
node_modules/*
.sass-cache/
credentials/*
media/attachments/*
custom-log.txt
*-schedule
logs/*.log
apps/matters/task-locks/*.lock
token.json
.vscode
media
